@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" type="text/css" href="/css/Thumbnail.css" />
<div class="row">
    @foreach (var movie in Model.Movie)
    {
       <div class="col-4 ">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-1 fw-bold">
                        @movie.Rank
                    </div><!--end of rank-->
                    <div class="col-4 text-end fw-bold">
                        @movie.Title
                    </div><!--end of title-->
                    <div class="col-4 text-end fw-bold">
                        @movie.Price
                    </div> <!--end of price-->
                </div> 
            </div> <!--end of header-->

                <div class="card-body">
                    <img src="@movie.Image" class="card-img my-thumbnail-class" alt="@movie.Title">
                </div> <!--end of image-->
                <div class="card-body">
                    <p>@movie.ReleaseDate.ToString("yyyy-MM-dd")</p>
                    <p>@movie.Genre</p>
                </div><!--end of date and genre-->
    


            <div class="card-body col-4">
                <a asp-page="Details" asp-route-id="@movie.Id" class="btn btn-primary w-100"> Details </a>
            </div>
        </div>
        
    </div>
}

