@page "{searchString?}"
@model RazorPagesMovie.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index
    <link rel="stylesheet" type="text/css" href="/css/Thumbnail.css"/>
</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        <label>Title: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
           @for(int i = 0; i < Model.Movie.Count; i++)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Movie[i].Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[i].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[i].ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[i].Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[i].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie[i].Rank)
                </th>
            } 
            @*<th>
                @Html.DisplayNameFor(model => model.Movie.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Rank)
            </th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src=@item.Image class="my-thumbnail-class">
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
